extends ../layout.pug
block contenido
	h1 Panel de Administración	
	table(class="table")
		caption Productos Actuales
		thead
			th #
			th Nombre
			th Descripción
			th Precio
			th Imagenes
			th Acciones
		tbody
			each product in products
				
				tr
					td= product.id
					td= product.title
					td= product.description
					td= product.precio
					td
						a(href=product.imageUrl class="btn") Ver Imagen
					td 						
						a(href="/menu/edit/"+product.id) Editar
						=" - "
						a(href="/menu/delete/"+product.id) Eliminar
						